<html>
   <head>
      <title>Will I Develop Heart Disease?</title>
   </head>
   <body>
      <h1>Will I Develop Heart Disease?</h1>
      <p>Fill in these fields: </p>
      <form action = "predict" method = "POST" 
         enctype = "multipart/form-data">
         Gender:
         <br>
         Male: <input type = "radio" name = "male" />
         Female: <input type = "radio" name = "female" />
         <br>
         Age: <input type = "text" name = "age"  size=5/>
         <br>
         Education: 
         <input type = "text" name = "edu" />
         <br>
         Smoker:
         <br>
         Yes: <input type = "radio" name = "yes_smoke" />
         No: <input type = "radio" name = "no_smoke" />
         <br>
         Amount Per Day:
         <input type = "text" name = "num_smoke" />
         <br>
         Blood Pressure Meds: 
         <input type = "text" name = "bpm" />
         <br>
         Prevelant Stroke: 
         <input type = "text" name = "prev_stroke" />
         <br>
         Prevalet Hyp:
         <input type = "text" name = "prev_hyp" />
         <br>
         Diabetes:
         <input type = "text" name = "diab" />
         <br>
         TotChol:
         <input type = "text" name = "TotChol" />
         <br>
         sysBP:
         <input type = "text" name = "sysBP" />
         <br>
         diaBP:
         <input type = "text" name = "diaBP" />
         <br>
         BMI:
         <input type = "text" name = "bmi" />
         <br>
         heartRate:
         <input type = "text" name = "hr" />
         <br>
         glucose:
         <input type = "text" name = "gluc" />
         <br>
         <input type = "submit"/>
      </form>   
   </body>
</html>