<html>
   <head>
      <title>Will I Develop Heart Disease?</title>
   </head>
   <body>
      <h1>Will I Develop Heart Disease?</h1>
      <p>Fill in these fields: </p>
      <form action = "predict" method = "POST" 
         enctype = "multipart/form-data">
         Gender:
         <br>
         Male: <input type = "radio" name = "gender" value="1" id="gender1"/>
         Female: <input type = "radio" name = "gender" value="0" id="gender2" />
         <br>
         Age: <input type = "text" name = "age"  size=5 required/>
         <br>
         <label for="edu">Highest Education Level Achieved: </label>
         <br>
            <select id="edu" name="edu" required>
            <option value="1">Some High School</option>
            <option value="2">High School or GED</option>
            <option value="3">Some College or Vocational School</option>
            <option value="4">College Degree</option>
            </select>
         <br>
         Current Smoker:
         <br>
         Yes: <input type = "radio" name = "smoke" value="1"/>
         No: <input type = "radio" name = "smoke" value="0" checked/>
         <br>
         Cigarettes Per Day:
         <input type = "text" name = "num_smoke" size=3 required placeholder="0"/>
         <br>
         Blood Pressure Meds: 
         <br>
         Yes: <input type = "radio" value="1" name = "bpm" />
         No: <input type = "radio" value="0" name = "bpm" checked />
         <br>
         Prevelant Stroke: 
         <br>
         Yes: <input type = "radio" value = "1" name = "stroke" />
         No: <input type = "radio" value = "0" name = "stroke" checked/>
         <br>
         Prevalet Hypertension:
         <br>
         Yes: <input type = "radio" value="1" name = "hyp" />
         No: <input type = "radio" value="0" name = "hyp" checked/>
         <br>
         Diabetes:
         <br>
         Yes: <input type = "radio" value="1" name = "diab" />
         No: <input type = "radio" value="0" name = "diab" checked/>
         <br>
         Total Cholesterol (mg/dL):
         <input type = "text" name = "TotChol" required size=3/>
         <br>
         Systolic Blood Pressure (mmHg):
         <input type = "text" name = "sysBP" required size=3/>
         <br>
         Diastolic Blood Pressure (mmHg):
         <input type = "text" name = "diaBP" required size=3/>
         <br>
         Body Mass Index:
         <input type = "text" name = "bmi" required size=3/>
         <br>
         Heart Rate (Beats/Min):
         <input type = "text" name = "hr" required size=3/>
         <br>
         Glucose (mg/dL):
         <input type = "text" name = "gluc" required size=3/>
         <br>
         <input type = "submit"/>
      </form>   
   </body>
</html>